cmdPattern/.classpath
cmdPattern/.project
cmdPattern/.settings
cmdPattern/.springBeans
cmdPattern/target
strategyPattern/.classpath
strategyPattern/.project
strategyPattern/.settings
strategyPattern/.springBeans
strategyPattern/target
statePattern/.classpath
statePattern/.project
statePattern/.settings
statePattern/.springBeans
statePattern/target
singletonPattern/.classpath
singletonPattern/.project
singletonPattern/.settings
singletonPattern/.springBeans
singletonPattern/target
.metadata/
RemoteSystemsTempFiles/
Servers/


